==
<section id="about-cafe" class="about-us">
    <div class="container section mx-auto">
        <div class="about-us__content">
            <ul class="mt-10 md:ml-8">
                <li class="mb-6">
                    <div class="item" data-sal="slide-up" data-sal-easing="ease-in-cubic">
                    <i class="item__icon fas fa-check" style="color:#2dd1ac"></i>
                        <div class="item__content">
                            <h3 class="item__title" style="color:#0a0707">KEMUDAHAN PROSES PEMBAYARAN</h3>
                            <p class="item__text md:w-3/4" style="color:#707e7e">Dengan sistem pembayaran otomatis dari Basil memudahkan dan mempercepat proses pembayaran sehingga konsumen tidak perlu mengantri lama.</p>
                        </div>
                    </div>
                </li>
                <li class="mb-6">
                    <div class="item" data-sal="slide-up" data-sal-easing="ease-in-cubic">
                    <i class="item__icon fas fa-check" style="color:#2dd1ac"></i>
                        <div class="item__content">
                            <h3 class="item__title" style="color:#0a0707">PROGRAM LOYALITAS KONSUMEN</h3>
                            <p class="item__text md:w-3/4" style="color:#707e7e">Dengan program loyalitas konsumen menarik minat konsumen untuk melakukan repeat order sehingga meningkatkan penjualan bisnis anda.</p>
                        </div>
                    </div>
                </li>
                <li class="mb-6">
                    <div class="item" data-sal="slide-up" data-sal-easing="ease-in-cubic">
                    <i class="item__icon fas fa-check" style="color:#2dd1ac"></i>
                        <div class="item__content">
                            <h3 class="item__title" style="color:#0a0707">DATA MENU FAVORIT KONSUMEN</h3>
                            <p class="item__text md:w-3/4" style="color:#707e7e">Dengan mengetahui menu favorit pelanggan, anda bisa fokus untuk produksi lebih pada menu yang paling disukai konsumen anda.</p>
                        </div>
                    </div>
                </li>
                <li class="mb-6">
                    <div class="item" data-sal="slide-up" data-sal-easing="ease-in-cubic">
                    <i class="item__icon fas fa-check" style="color:#2dd1ac"></i>
                        <div class="item__content">
                            <h3 class="item__title" style="color:#0a0707">DATA MARGIN DARI SETIAP MENU</h3>
                            <p class="item__text md:w-3/4" style="color:#707e7e">Anda bisa memaksimalkan keuntungan dengan fokus untuk produksi lebih pada menu yang memiliki keuntungan yang besar dari daftar menu.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="about-us__image">
            <img src="{{ 'assets/dist/images/[Desktop] POSN.png'|theme }}" class="mx-auto" style="padding: 100px 30px 10px 30px;" alt="About Us Image" data-sal="slide-up" data-sal-delay="400" data-sal-duration="500">
        </div>
    </div>
</section>