==
<section id="retail" class="section mx-auto">
     <div class="container mx-auto bg-ik">
       <br>
       <h1 class="section__titleres text-center mb-5" data-sal="fade" data-sal-easing="ease-in-cubic">Managemen <span class="text-ungu"> Retail </span> semakin mudah</h1>
       <h2 class="section__titleres text-center mb-5" data-sal="fade" data-sal-easing="ease-in-cubic">dengan Basil F&B</h2>
       <p class="hero__tagline-subtitle text-center" data-sal="fade" data-sal-delay="100">{{ this.theme.hero_subtitle }}<br><br>
       <a class="btn btn--primary mt-8 align-center" data-sal="fade" data-sal-delay="300" href="#contact">{{ this.theme.hero_button_text }}</a>
       <br><br><br><br><br>
       </p>
    </div>
        
</section>